* {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
    background-image: url(../images/background.jpg);
}

#navbar {
    background-color: rgb(34, 32, 32);
}

.nav-item>.nav-link,
.nav-item>.nav-link:hover {
    color: white;
    font-weight: bold;
}

.nav-item {
    font-size: 0.9em;
}

.container {
    color: aliceblue;
    text-align: center;
    margin-top: 5%;
}

hr {
    border-top: 2px solid;
    width: 80%;
    color: rgba(252, 252, 252, 0.63);
    margin-left: 10%;
    opacity: 1;
}

.members {
    padding-top: 25px;
}

@media (max-width: 991px) {
    .nav-item {
        margin-left: 3%;
        font-weight: bold;
        font-size: 1.1em;
    }

    #navbarNav h1 {
        display: inline;
        margin-top: 3%;
        font-weight: bold;
        color: white;
    }
}