body{
    background-image: url(../images/background.jpg);
}

#navbar {
    background-color: rgb(34, 32, 32);
}

.nav-item > .nav-link, .nav-item > .nav-link:hover {
    color: white;
}

.navbar-brand {
    padding-right: 1%;
}

